<%= form_for @move, html: { role: 'form' } do |f| %>
  <div class="form-group">
    <%= f.label :request %>
    <%= f.text_field :request, class: 'form-control', placeholder: 'ex: A POR -> SPA' %>
  </div>

  <%= f.submit 'Submit', class: 'btn btn-primary' %>
<% end %>
